<div class="main-warp">
	<div class="heros">
		<div class="hero-title">
		<div class="lft-tit">
			<h5>JOIN THE DRIBBBLE COMMUNITY</h5>
			<h1>Sign Up</h1>
		</div>
		<div class="btn-hj">
			<a href="#" class="btn-ques">
				<p>Questions?</p>
				<span>Visit our Help Center</span>
			</a>
		</div>
		</div>
	</div>
	<div class="main-cons">
		<div class="contain">
			<div class="titles">
				<h4>Dribbble is a show and tell community for designers</h4>
				<p>
					Sign up to find, follow and hire members of our small but vibrant community of designers, icon artists, illustrators, interface designers, typographers, and other creative folks.
				</p>
			</div>
			<div class="tbs">
				<div class="col-md-4">
					<div class="tui">
						<span class="bsc">Basic</span>
					</div>
					<ul>
						<li>Follow your favorite designers and design teams</li>
						<li>Like and organize your favorite shots</li>
						<li>Limited messaging to designers about work opportunities</li>
					</ul>
					<div class="status">
						<p class="jk">Free</p>
						<%= link_to "Sign up", new_user_registration_path %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="tui">
						<span class="bsd">PRO</span>
					</div>
					<ul>
						<li>Find designers for hire by location, skill &amp; more</li>
						<li>Send unlimited messages to designers about work opportunities</li>
						<li>Organize your favorite designers with lists</li>
					</ul>
					<div class="status">
						<p class="jk">$20 <span>per year</span></p>
						<%= link_to "Learn more", new_user_registration_path, class: "btn-pro" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="tui">
						<span class="bse">TEAM</span>
					</div>
					<ul>
						<li>Team members can immediately upload their work on Dribbble</li>
						<li>Promote your products and design services</li>
						<li>Hire designers</li>
					</ul>
					<div class="status">
						<p class="jk">$100 <span>per year</span></p>
						<%= link_to "Learn more", new_user_registration_path, class: "btn-team" %>
					</div>
				</div>
			</div>
		</div>
		<div class="rht">
			<h4>How do designers share work?</h4>
			<p class="copy">Uploading design work and commenting on the work of others <a href="#">requires an invitation</a> from a member of our community.</p><br>
			<p class="copy">See our <a href="#">Help Center</a> for information on how invitations work.</p>
		</div>
	</div>
</div>