.main-cons2 {
	height: 593px !important;
	.contain2 {
		height: 580px !important;
		.tbs {
			padding-left: 70px;
			padding-right: 70px;
			.form-group {
				input {
					width: 518px;
					padding: 7px 10px;
					border-radius: 3px;
					border:none;
					outline: none;
					color: #444;
					background-color: #EEEEEE;
					webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
					-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
					box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
					-webkit-transition: background-color 0.2s ease;
					font-weight: 500;
					margin-top: 10px;
				}
				span {
					font-size: 11px;
					color: #999;
					margin-bottom: 25px;
				}
			}
			.btn-acc {
				background-color: #ea4c89;
				color: #fff;
				padding: 8px 30px;
				border-radius: 3px;
				border: none;
				margin-top: 20px;
			}
		}
	}
}
